.DS_Store
node_modules
_brisa

# Build output
**/build/*
!**/docs/**/build/*
**/out/*
**/out-*/*
**/dist/*
packages/brisa/out
packages/brisa/jsx-runtime/
packages/brisa/jsx-dev-runtime/
packages/brisa/client/
packages/brisa/server/
packages/brisa/build
packages/brisa/test

# Docs
packages/docs/.vitepress/cache/
packages/docs/.vitepress/dist/

tsconfig.tsbuildinfo

# Editors
.vscode
.idea

# Deployment
.vercel*
.vercel
