.DS_Store
node_modules

# Build output
**/build/*
**/out/*
**/out-*/*
packages/brisa/out
packages/brisa/jsx-runtime/
packages/brisa/jsx-dev-runtime/
packages/brisa/client/
packages/brisa/server/
packages/brisa/build

# Docs
packages/docs/.vitepress/cache/
packages/docs/.vitepress/dist/

tsconfig.tsbuildinfo

# Editors
.vscode
.idea
.vercel
