/* Navigation Styles */
.nav {
  background-color: var(--color-white);
  position: fixed;
  color: var(--color-primary);
  z-index: 2;
  padding: 1rem 2rem;
  width: 100vw;
  border-bottom: 1px solid var(--color-border);
  background-image: var(--bg-image);
}

#nav-list {
  display: flex;
  height: 100%;
  margin-top: 5px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: auto;
}

.nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: var(--color-secondary);
}

#nav-list ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  padding-left: 10px;
}

#nav-list ul:last-child {
  gap: 1rem;
}

#nav-list .social-media::before,
#nav-list .change-theme::before {
  content: "";
  display: block;
  height: 20px;
  margin-top: 2px;
  width: 1px;
  background-color: var(--color-light-gray);
}

#nav-list ul li {
  margin: 0;

  a {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s;
  }

  a.active {
    color: var(--color-dark);
    font-weight: bold;
  }
}

#nav-list ul li a:hover {
  color: var(--color-secondary);
}

@media (max-width: 1050px) {
  #nav-list {
    display: none;

    &.open {
      position: absolute;
      top: 70px;
      padding: 30px;
      left: 0;
      display: flex !important;
      flex-wrap: wrap;
      background-color: var(--color-white);
      width: 100%;
      height: calc(100vh - 70px);
      z-index: 9999;


      ul:first-child li {
        margin: 0;
        width: 100%;
        a {
          font-size: 20px;
          font-weight: 500;
          display: block;
          width: 100%;
          padding: 10px;
          border-bottom: 1px solid var(--color-secondary);
        }

        a:hover {
          background-color: var(--md-tablist-btn-active-bg-color);
        }

        a.active {
          color: var(--color-dark);
          font-weight: bold;
        }
      }


      ul:first-child {
        width: 100%;
        flex-direction: column;
        height: calc(100vh - 150px);
      }

      ul:nth-child(2) {
        order: 3;
      }

      ul:nth-child(2), ul:nth-child(3){
        flex-grow: 1;
        flex-direction: row;
      }
    }
  }
}
