footer {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  height: 15vh;
  padding: 30px 10px 20px;
  max-width: 1200px;
  font-size: 0.85rem;
  margin: 0 auto;
  text-wrap: balance;

  .footer-content {
    border-bottom: 1px solid var(--color-light-gray);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  h2 {
     font-size: 0.8rem;
  }

  ul {
    padding: 0;
  }
  
  li {
    list-style-type: none;
    padding: 5px 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dashed var(--color-primary);
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: var(--color-primary);
  }

  .nl {
    max-width: 380px;
    padding-bottom: 20px;
    gap: 1rem;

    p {
      margin-bottom: 10px;
    }

    input {
      margin-bottom: 5px;
    }

    input, button {
      width: 100%;
      font-size: 1rem;
      padding: 5px;
    }

    input {
      border-radius: 8px;
      border: 1px solid var(--color-light-gray);
    }

    button {
      background-image: linear-gradient(
        to right,
        var(--cta-bg-start),
        var(--cta-bg-end)
      );
      color: var(--color-white);
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    button:hover {
      background-image:linear-gradient(to right, var(--cta-hover-start), var(--cta-hover-end));
    }
  }

  .copyright {
    padding: 30px 0;
  }
}
